@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.image {
    z-index: -1;
    padding: 0;
}

#cap {
    color: white;
    font-weight: 700;

}

#moreTxt {
    color: white;
    font-size: calc(.6em + .6vw);
    font-weight: 400;
    
}