@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


#feed {
    z-index: 3;
    color: white;
}

#cap {
    font-size: calc(3em + 3vw);
    font-weight: bolder;


    


}

#box {
    color: rgb(255, 117, 3);
    font-weight: bolder;
    }

    #moreTxt {
        font-size: calc(.6em + .4vw);
        font-weight: bolder;
    }